*{
    margin-top: 0px;
    margin-left: 0px;padding: 0px;
    box-sizing: border-box; margin-right: 0px;
  }
  nav{
    background-color: grey; display: flex;
    justify-content: space-between;
    align-items: center; margin-right: 0px
  }
  #logo{
    width: 150px;height: 100px;
  }
  .navdetails{
    list-style: none;
    display: inline;
    margin-left: 90px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 20px;
  }
  .links{
    text-decoration: none;
    color: white;
  }
  .links:hover{
    text-decoration: underline;color: black;
  }
  #Headbox{
   width: 100%; height: 150px; background-color: whitesmoke;
   margin-top: 40px;
  }
  #head1{
    height: 15vh;
    display: flex;flex-direction: column;
    text-align: center; justify-content: center;
    align-items: center; font-family: "Condiment", cursive;
    font-size: 40px;
  }
  #image-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    margin-top: 150px; margin-left: 400px; margin-right: 400px;
    row-gap: 20px;column-gap: 10px;
   
  }
  .one {
    grid-column: 1;
    grid-row: 1/3;
   
  }
  .two{
    grid-column: 2;
    grid-row: 1;
  
  }
  .three{
    grid-column: 3;
    grid-row: 1/3;
  }
  .four{
    grid-column: 1/2;
    grid-row: 3 ;
  }
  .five{
    grid-column: 2;
    grid-row: 2/4;
  }
  .six{
    grid-column: 3;
    grid-row: 3;
  }
  img{
    width: 100%;height: 100%;
  }
  #details{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 60px; margin-left: 400px;
  }
  #lines{
    background-color: grey;
    display: grid;grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
  
  }
  #video{
    background-color: grey;margin-top: 30px;
    padding: 50px;
  }
  #utube{
    margin-left: 300px;
  }
  #teams{
    color: rgb(5, 6, 3); font-size: 60px; margin-left: 550px;
    margin-top: 70px;
  }
  #leaders{
    display: flex;
    justify-content: center;align-items: center;
  }
  #leaders{
    background-color: grey;
  }
  #lead1{
    width: 500px;height: 500px;margin-left: 50px;margin-top: 20px;
  }
  #lead2{
    width: 500px;height: 600px;margin-left: 50px;margin-top: 20px;
  }
  #lead3{
    width: 500px;height: 500px;margin-left: 50px;margin-top: 20px;
  }
  #person1{
    font-size: 20px;text-align: center;color: rgb(5, 6, 3);
  }
  #person2{
    font-size: 20px;text-align: center;color: rgb(5, 6, 3);
  }
  #person3{
    font-size: 20px;text-align: center;color: rgb(5, 6, 3);
  }
  footer{
    background-color: grey;padding: 50px;
  }
  #footdes{
    text-align: center;margin-top: 150px;font-size: 30px;
  }
  #footfond{
    font-size: 20px;text-align: center;
  }